<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base ::layout(~{::#content}, ~{::title}, ~{::#script})}"
>
<head>
    <meta charset="UTF-8">
    <title>View Products</title>
</head>
<body>

<div id="content">
    <div class="grid grid-cols-3 mt-4 px-2"></div>
    <section class="col-span-3 bg-white dark:bg-gray-900 shadow-md rounded-2xl p-6 mb-4 ml-4 mr-4 mt-4 overflow-auto">
        <h2 class="text-2xl font-mono italic  font-semibold mb-4 mx-auto text-center ">Existing Products</h2>

        <div th:replace="~{message :: messageBox}" class="md:w-1/2 mx-auto"> </div>
        <table class="min-w-full text-sm text-left"
        th:if="${pageProducts.totalElements>0}"
        >
            <thead class="bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-gray-200 uppercase tracking-wider">
            <tr>

                <th class="px-4 py-3 border-b border-gray-200 dark:border-gray-600">Sr. No</th>
                <th class="px-4 py-3 border-b border-gray-200 dark:border-gray-600">Image</th>
                <th class="px-4 py-3 border-b border-gray-200 dark:border-gray-600">Title</th>
                <th class="px-4 py-3 border-b border-gray-200 dark:border-gray-600">Description</th>
                <th class="px-4 py-3 border-b border-gray-200 dark:border-gray-600">Category</th>
                <th class="px-4 py-3 border-b border-gray-200 dark:border-gray-600">Price</th>
                <th class="px-4 py-3 border-b border-gray-200 dark:border-gray-600">Stocks</th>
                <th class="px-4 py-3 border-b border-gray-200 dark:border-gray-600">Discount</th>
                <th class="px-4 py-3 border-b border-gray-200 dark:border-gray-600">Discounted Price</th>
                <th class="px-4 py-3 border-b border-gray-200 dark:border-gray-600">Status</th>
                <th class="px-4 py-3 border-b border-gray-200 dark:border-gray-600">Action</th>
            </tr>
            </thead>
            <tbody>
            <!-- Thymeleaf loop -->
            <tr class="hover:bg-gray-50 dark:hover:bg-gray-700" th:each="product ,c : ${pageProducts.getContent()}">
                <td class="px-4 py-3 border-b border-gray-200 dark:border-gray-700 font-medium" th:text="${c.count}">1</td>
                <td class="px-4 py-3 border-b border-gray-200 dark:border-gray-700">
                    <img th:src="@{'/img/product_img/'+ ${product.imageName}}" alt="Category Image"
                         class="w-12 h-12 object-cover rounded-full shadow-md">
                </td>
                <td class="px-4 py-3 border-b border-gray-200 dark:border-gray-700 font-medium" th:text="${product.title}">Laptop</td>
                <td class="px-4 py-3 border-b border-gray-200 dark:border-gray-700 font-medium" th:text="${product.description}">Lenovo 512 MB Ram</td>
                <td class="px-4 py-3 border-b border-gray-200 dark:border-gray-700 font-medium" th:text="${product.category}">Electronics</td>
                <td class="px-4 py-3 border-b border-gray-200 dark:border-gray-700 font-medium" th:text="${product.price}">1200</td>
                <td class="px-4 py-3 border-b border-gray-200 dark:border-gray-700 font-medium" th:text="${product.stocks}">120</td>
                <td class="px-4 py-3 border-b border-gray-200 dark:border-gray-700 font-medium" th:text="${product.discount}+'%'">0%</td>
                <td class="px-4 py-3 border-b border-gray-200 dark:border-gray-700 font-medium" th:text="${product.discountPrice}">1200</td>

                <td class="px-4 py-3 border-b border-gray-200 dark:border-gray-700 font-medium" th:text="${product.isActive == true ? 'Active' : 'Inactive'}" >Active</td>
                <td class="px-4 py-3 border-b border-gray-200 dark:border-gray-700">
                    <div class="flex space-x-5">
                        <a th:href="@{'/admin/loadUpdateProductPage/'+${product.id}}"><i class="fa-solid fa-pen-to-square text-2xl text-blue-700 hover:text-blue-900"></i></a>
                        <a th:onclick="deleteProduct([[${product.id}]])"><i class="fa-solid fa-trash text-2xl text-red-700 hover:text-red-900"></i></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- Pagination starts here -->
        <div class="mt-4 text-center justify-center"
        th:if="${pageProducts.totalElements>0}"
        >

        <nav aria-label="Page navigation example">
            <ul class="inline-flex -space-x-px text-base h-10">
                <li
                th:unless="${pageProducts.first}"
                >
                    <a  th:href="@{'/admin/viewProducts?pageSize='+${pageSize}+'&pageNo='+${pageProducts.number-1}}" class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        Previous</a>
                </li>
                <li th:each="index : ${#numbers.sequence(0,pageProducts.totalPages-1)}">
                    <a  th:href="@{'/admin/viewProducts?pageSize='+${pageSize}+'&pageNo='+${index}}"
                        th:classappend="${index == pageProducts.number ? 'bg-blue-500 dark:bg-blue-800 ' : 'bg-gray-600 dark:bg-gray-800'}"
                        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:text-gray-400  dark:hover:text-white">

                    <span th:text="${index+1}">1
                    </span>
                    </a>
                </li>
                <li
                th:unless="${pageProducts.last}"
                >
                    <a th:href="@{'/admin/viewProducts?pageSize='+${pageSize}+'&pageNo='+${pageProducts.number+1}}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        Next</a>
                </li>

            </ul>
        </nav>
        </div>
        <h1 th:if="${pageProducts.totalElements<=0 }">No Products Available</h1>
        <!-- Pagination ends here -->
    </section>
</div>


<div id="script">
    <script th:src="@{'https://cdn.jsdelivr.net/npm/sweetalert2@11'}"></script>
    <script th:src="@{/js/deleteSweetAlert.js}"></script>
    <script>
        console.log("View Products Page Loaded");
    </script>
</div>

</body>
</html>