HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
.vscode/


# Keep your existing rules and add/modify these:
/target/
!src/main/resources/static/css/output.css  # Keep the built CSS

# Node.js
node_modules/
npm-debug.log*

# IDE files
.idea/
*.iml
*.iws
*.ipr

src/main/resources/application-prod.properties
client_secret_209364414487-401jb68lf8k8kd5o3i8v64k6q5113pn0.apps.googleusercontent.com.json
keyFile.txt
tailwind.config.js
package.json
package-lock.json
test



